{
  "env": { 
    "test": {
      "presets": [
        "next/babel", 
        ["env", { "modules": "commonjs" } ]
      ]
    }
  },
  "presets": [
    "next/babel"
  ],
  "plugins": [
    ["styled-components", { "ssr": true, "displayName": true, "preprocess": false } ]
  ]
}
