node_modules
tags
.next
*.DS_Store
test/output/
!test/output/e2e/.gitkeep
!test/output/unit/.gitkeep
!test/output/lighthouse/.gitkeep
!test/output/index.html
yarn-error.log
lighthouse.report.*
junit.xml
.out
