node_modules
tags
.next
*.DS_Store
test-output/
!test-output/allure/.gitkeep
!test-output/mocha/.gitkeep
!test-output/screenshots/.gitkeep
!test-output/jest/.gitkeep
!test-output/lighthouse/.gitkeep
yarn-error.log
lighthouse.report.*
junit.xml
